{% extends "_layouts/site.twig" %}

{% block content %}
    {%  set layout = null %}
    <!-- Page Content -->
    {%  if entry is defined %}

        <section class=" gray-light py-2 ">
            <div class="container">
                <div class="row ">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h1 class="page-heading">{{ entry.title }} </h1>

                    </div>

                </div>
            </div>

        </section>
        <section class="resource-lander page generic py-4">
            <div class="container">
                {% paginate craft.entries.section('resources').limit(10) as pageInfo, pageEntries %}

                {% set lazyImage = false %}
                {% set blockPrefix = "" %}
                <div class="row ">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 px-0">

                        <div class="row">
                        {% for entry in pageEntries %}

                            {% switch entry.type %}
                               {% case 'resourceVideo' %}
                                {% include ('resources/_entrytypes/resourceVideo.twig') %}

                                {% case 'resourceDocument' %}
                                {% include ('resources/_entrytypes/resourceDocument.twig') %}
                            {% endswitch %}

                        {% endfor %}
                        </div>

                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-4 offset-lg-1 col-xl-4 offset-xl-1">
                        {% include ('_includes/sidebar_nav.twig') %}
                    </div>
                </div>

            </div>
        </section>









    {%  endif %}

{% endblock %}
