{% extends "_layouts/base.twig" %}

{% block body %}

    <!-- site -->
    <div class="content-wrapper ">
        {% include "_includes/_global_alert.twig" %}
        {% block content %}

        {% endblock %}
    </div>

{% endblock %}